{% extends 'base.html' %}
{% block title %}
Your Account
{% endblock title %}
{% block content %}
    <div class="page-wrap">
      <div class="main-wrap">
        <div class="sidebar">
          <img src="" alt="logo">
          <a href="/dashboard">Dashboard</a>
          <a href="/support">Support</a>
          <a href="/account">Account</a>
        </div>
        <div class="main_content account">
          <div class="head_section">
            <h1 class='head-title'>Your Account - {{ company }}</h1>
          </div>
          <div class="account-section">
            <div class="top">
              <div class="left">
                <h2>Your Profile</h2>
                <p>This area allows you to keep your details up to date so if we need to contact you, we can do.  This will also be used for website builds to allow us to enter your information accurately</p>
              </div>
              <div class="right">
                <div class="image">
                  <img src="" alt="">
                  <p>Edit Profile Image</p>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="left">
                <div class="profileinfo">
                  <div class="profileline name">
                    <p>Name:</p>
                    <p>{{ company.client_name }}</p>
                  </div>
                  <div class="profileline name">
                    <p>Live Client:</p>
                    <p>{{ company.live_client }}</p>
                  </div>
                  <div class="profileline">
                    <p>Company Address:</p>
                    <p>{{ company.client_address }}</p>
                  </div>
                  <div class="profileline">
                    <p>Registered Company Number:</p>
                    <p>{{ company.client_registered_company_number }}</p>
                  </div>
                  <div class="profileline">
                    <p>Contact Email:</p>
                    <p>{{ company.client_email }}</p>
                  </div>
                  <div class="button">
                    <a href="/account/edit">Edit Profile</a>
                  </div>
                </div>

              </div>
              <div class="right">
                <div class="cta password">
                  <h4>Your Password</h4>
                  <p>Update your password</p>
                  <a href="password">Change Password</a>
                </div>
                <div class="cta notifications">
                  <h4>Your Notifications</h4>
                  <p>Update your notification settings</p>
                  <a href="notification">Notification Settings</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
