{% extends 'base.html' %}
{% block title %}
Your Account
{% endblock title %}
{% block content %}
    <div class="page-wrap">
      <div class="main-wrap">
        <div class="sidebar">
          <img src="" alt="logo">
          <a href="/dashboard">Dashboard</a>
          <a href="/support">Support</a>
          <a href="/account">Account</a>
        </div>
        <div class="main_content account">
          <div class="head_section">
            <h1 class='head-title'>Your Account - {{ company }}</h1>
          </div>
          <div class="account-section">
            <div class="top">
              <div class="left">
                <h2>Your Profile</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="right">
                <div class="image">
                  <img src="" alt="">
                  <p>Edit Profile Image</p>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="left">
                <div class="profileinfo">
                  <div class="profileline name">
                    <p>Name:</p>
                    <p>{{ company }}</p>
                  </div>
                  <div class="profileline">

                  </div>
                  <div class="profileline">

                  </div>
                  <div class="profileline">

                  </div>
                  <div class="profileline">

                  </div>
                  <div class="button">
                    <a href="/account/edit">Edit Profile</a>
                  </div>
                </div>

              </div>
              <div class="right">
                <div class="cta password">
                  <h4>Your Password</h4>
                  <p>Update your password</p>
                  <a href="account/notification">Change Password</a>
                </div>
                <div class="cta notifications">
                  <h4>Your Notifications</h4>
                  <p>Update your notification settings</p>
                  <a href="account/notification">Notification Settings</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
