{% extends 'base.html' %}
{% block title %}
Buy More Hours
{% endblock title %}
{% block content %}
<div class="page-wrap">
  <div class="main-wrap">
    <div class="sidebar">
      <img src="img/logo.jpg" alt="logo">
      <a href="/dashboard">Dashboard</a>
      <a href="/support">Support</a>
      <a href="/account">Account</a>
    </div>
    <div class="main_content buy">
      <div class="head_section">
        <h1 class='head-title'>Buy More Hours - {{ company }}</h1>
      </div>
      <div class="buy-section">
        <label for="hourstobuy">How many hours would you like to buy: </label>
        <input id ='hours' type="number" name="hourstobuy" value="" onchange="updatePrice()">
        <p>Price: £<span id='price'>0</span></p>
        <button id='buyButton' type="submit" name="button">Buy</button>
      </div>
    </div>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  var stripe
  window.onload = setupStripe()
  document.querySelector("#buyButton").addEventListener("click", () => {
  // Get Checkout Session ID
  fetch("/create-checkout-session/", {method: 'POST', headers: {'Content-Type': 'application/x-www-form-urlencoded'}, body: ('quantity=' + document.querySelector('#hours').value)})
  .then((result) => { return result.json(); })
  .then((data) => {
    console.log(data);
    // Redirect to Stripe Checkout
    return stripe.redirectToCheckout({sessionId: data.sessionId})
  })
  .then((res) => {
    console.log(res);
  });
});
</script>
{% endblock content %}
