{% extends 'base.html' %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
    <div class="page-wrap">
      <div class="main-wrap">
        <div class="sidebar">
          <img src="/static/img/logo.jpg" alt="logo">
          <a href="/dashboard">Dashboard</a>
          <a href="/support">Support</a>
          <a href="/account">Account</a>
        </div>
        <div class="main_content dashboard">
          <div class="head_section">
            <h1 class='head-title'>Your Portal - {{ company }}</h1>
          </div>
          <div class="top_section">
            <h2>Welcome {{ company }}</h2>
            <div class="information">
              <h3>Contract Information:</h3>
              <p>Hours paid for: {{ company.paid_extra_hours }}</p>
              <p>Hours Used: {{ company.hours_used_this_month }}</p>
              <p>Hours Remaining: {{ hours }}</p>
            </div>
          </div>
          <div class="bottom_section">
            <div class="report">
              <h3>Report New Issue</h3>
              <p>This will allow you to open a new ticket, so we can fix your site</p>
              <a href="/report">report issue</a>
            </div>
            <div class="support">
              <h3>Current Support Tickets</h3>
              <p>See a list of your support tickets</p>
              <a href="/support">support tickets</a>
            </div>
            <div class="contact">
              <h3>Interested in a new service?</h3>
              <p>Please contact us to find out how we can help you</p>
              <a href="tel:01785850774">contact</a>
            </div>
            <div class="buy_hours">
              <h3>Buy more hours</h3>
              <p>Have our teams informed you that you need more hours? Pay here through Stripe.</p>
              <a href="/buy">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
