{% extends 'base.html' %}
{% load jsonify %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
    <div class="page-wrap">
      <div class="main-wrap">
        <div class="sidebar">
          <img src="/static/img/logo.jpg" alt="logo">
          <a href="/dashboard">Dashboard</a>
          <a href="/account">Account</a>
        </div>
        <div class="main_content admin-companies">
          <div class="head_section">
            <h1 class='head-title'>Company Lookup - Administrator</h1>
          </div>
          <div class="admin-companies_section">
            <h2>Company lookup</h2>
            <p>Please first choose a company to check</p>
            <p>To search another, press the 'search another' button</p>
            <div class="enter-company">
              <p>Company:</p>
                <div class="">
                <select class="companies" name="companies">
                {% for company in companies %}
                 <option value="{{ company.client_name }}">
                   {{ company.client_name }}
                 </option>
                 {% endfor %}
               </select>
             </div>
             <div class="button">
               <button type="button" name="button" onclick='companyLookup()'>Check</button>
             </div>
            </div>
          </div>
          <div class="bottom_section">
            <div class="enter-ticket hidden">
              <h4 id='company-name'></h4>
              <p id='registered'>Registered: </p>
              <p id='tickets-raised'>Tickets Raised: </p>
              <p id='outstanding-tickets'>Outstanding: </p>
              <p id='contract'>Contracted Monthly Hours: </p>
              <p id='paid_extra_hours'>Extra Hours Purchased: </p>
              <p id='hours-worked'>Hours Worked: </p>
              <p id='hours-remaining'>Remaining Hours: </p>
              <button type="button" name="button" onclick='refresh()'>Search Another</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    var contracts = {{ contracts|jsonify }}
    var tickets = {{ tickets|jsonify }}
    var clients = {{ companies|jsonify }}
    </script>
{% endblock content %}
