{% extends 'base.html' %}
{% load jsonify %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
    <div class="page-wrap">
      <div class="main-wrap">
        <div class="sidebar">
          <img src="img/logo.jpg" alt="logo">
          <a href="/dashboard">Dashboard</a>
          <a href="/account">Account</a>
        </div>
        <div class="main_content admin-log">
          <div class="head_section">
            <h1 class='head-title'>Your Portal - Administrator</h1>
          </div>
          <div class="admin-log_section">
            <h2>Log time</h2>
            <p>Please first choose a company for which to log a time</p>
            <p>Then select the ticket and add time via the form</p>
            <div class="enter-company">
              <p>Company:</p>
                <div class="">
                <select class="companies" name="companies">
                {% for company in companies %}
                 <option value="{{ company.client_name }}">
                   {{ company.client_name }}
                 </option>
                 {% endfor %}
               </select>
             </div>
             <div class="button">
               <button type="button" name="button" onclick='check()'>Check</button>
             </div>
            </div>
          </div>
          <div class="bottom_section">
            <div class="enter-ticket hidden">
              <h4>Results</h4>
              <form class="ticket-time" action="" method="post">
                {% csrf_token %}
                <select class="ticket" name="ticket">
                </select><br>
                <label for="hours">Hours Worked: </label>
                <input id='hours' type="text" name="hours" placeholder="Value in hours" required><br>
                <button type="submit" name="button">Enter Hours</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    var tickets = {{ tickets|jsonify }}
    var clients = {{ companies|jsonify }}
    </script>
{% endblock content %}
