{% extends 'base.html' %}
{% load jsonify %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
    <div class="page-wrap">
      <div class="main-wrap">
        <div class="sidebar">
          <img src="" alt="logo">
          <a href="/dashboard">Dashboard</a>
          <a href="/support">Support</a>
          <a href="/account">Account</a>
        </div>
        <div class="main_content admin-tickets">
          <div class="head_section">
            <h1 class='head-title'>Tickets - Administrator</h1>
          </div>
          <div class="admin-tickets_section">
            <h2>Tickets</h2>
            <div class="filters">

            </div>
            <div class="tickets">

            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    tickets = {{ tickets|jsonify }}
    window.onload = function () {
      tickets.forEach((ticket, i) => {
        var target = document.querySelector('.tickets')
        var link = document.createElement('a')
        var newline = document.createElement('br')
        var description = document.createElement('p')
        link.href = './' + ticket.pk
        link.innerHTML = String(ticket.pk) + ' - ' + ticket.fields.title
        description.innerHTML = ticket.fields.issue
        console.log(link)
        target.append(link)
        target.append(newline)
        target.append(description)
        target.append(newline)
      });

    }
    </script>
{% endblock content %}
