{% extends 'base.html' %}
{% load jsonify %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
    <div class="page-wrap">
      <div class="main-wrap">
        <div class="sidebar">
          <img src="/static/img/logo.jpg" alt="logo">
          <a href="/dashboard">Dashboard</a>
          <a href="/account">Account</a>
        </div>
        <div class="main_content admin-tickets-multi">
          <div class="head_section">
            <h1 class='head-title'>Tickets - Administrator</h1>
          </div>
          <div class="admin-tickets-multi_section">
            <div class="hero">
              <h2>Current Tickets - Newest First</h2>
            </div>
            <div class="tickets">

            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    tickets = {{ tickets|jsonify }}
    window.onload = function () {
      var index = 1
      tickets.forEach((ticket, i) => {
        var div = document.createElement('div')
        div.classList.add('ticket')
        var target = document.querySelector('.tickets')
        target.append(div)
        var link = document.createElement('a')
        var newline = document.createElement('br')
        var description = document.createElement('p')
        link.href = './' + ticket.pk
        link.innerHTML = String(ticket.pk) + ' - ' + ticket.fields.title
        description.innerHTML = ticket.fields.issue
        div.append(link)
        div.append(newline)
        div.append(description)
        div.append(newline)
        index += 1
      });

    }
    </script>
{% endblock content %}
