django
datetime
dnspython
python-dotenv
gunicorn
django-tinymce
django-jsonify
django-hCaptcha
psycopg2
whitenoise
stripe
dj-database-url
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
