{% extends 'base.html' %}
{% block title %}
Notification Settings
{% endblock title %}
{% block content %}
    <div class="page-wrap">
      <div class="main-wrap">
        <div class="sidebar">
          <img src="/static/img/logo.jpg" alt="logo">
          <a href="/dashboard">Dashboard</a>
          <a href="/support">Support</a>
          <a href="/account">Account</a>
        </div>
        <div class="main_content notifications">
          <div class="head_section">
            <h1 class='head-title'>Your Account - Notification Settings - {{ company }}</h1>
          </div>
          <div class="notification-section">

          </div>
        </div>
      </div>
    </div>
{% endblock content %}
