{% extends 'base.html' %}
{% block title %}
Ticket - {{ ticket.title }}
{% endblock title %}
{% block content %}
<div class="page-wrap">
  <div class="main-wrap">
    <div class="sidebar">
      <img src="img/logo.jpg" alt="logo">
      <a href="/dashboard">Dashboard</a>
      <a href="/support">Support</a>
      <a href="/account">Account</a>
    </div>
    <div class="main_content report">
      <div class="head_section">
        <h1 class='head-title'>My Ticket - {{ company }}</h1>
      </div>
      <div class="report-section">
        <div class="back">
          <a href="/support">To Active Tickets</a>
        </div>
        <div class="hero">
          <h2>{{ ticket.title }}</h2>
          <div class="buttons">
            <a href="mark">
              {% if ticket.resolved %}
              <div class="complete">
                Reopen Ticket
              </div>
              {% else %}
              <div class="complete">
                Mark as Complete
              </div>
              {% endif %}
            </a>
            <a href="/support/edit/{{ ticket.id }}">
              <div class="edit">
                Edit
              </div>
            </a>
          </div>
        </div>
        <div class="ticket-information">
          <div class="severity">
            <p>Severity:</p>
            {% if ticket.severity == 'ST' %}
            <p style='font-weight: bold; color: green'>Standard</p>
            {% elif ticket.severity == 'HI' %}
            <p style='font-weight: bold; color: orange'>High</p>
            {% elif ticket.severity == 'VH' %}
            <p style='font-weight: bold; color: orange'>Very High</p>
            {% else %}
            <p style='font-weight: bold; color: red'>Critical</p>
            {% endif %}
          </div>
          <div class="description">
            <p>Description: </p>
            <p>{{ ticket.issue | safe }}</p>
          </div>
          <div class="status">
            <p>Status: </p>
            {% if ticket.resolved == False and ticket.customer_feedback_requested == True %}
            <p style='font-weight: bold; color: red;'>Your feedback is required, please respond in the comments below.</p>
            {% elif ticket.resolved == False and ticket.customer_feedback_requested == False %}
            <p style='font-weight: bold;'>In progress</p>
            {% else %}
            <p style = 'font-weight: bold; color: green'>Resolved</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="comments-section">
        <h3>Comments</h3>
        <div class="buttons">
          <a href="/comment/{{ ticket.pk }}">
            <button type="button" name="button">Leave Comment</button>
          </a>
        </div>
        {% for comment in comments %}
        <h4>From {{ comment.sender }}</h4>
          <p>{{ comment.comment|safe }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
