@import "https://use.typekit.net/ybg5bxl.css";
.login-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 12%;
}
.login-wrap .login-popup-wrap {
  background: white;
  border-radius: 10px;
  padding: 100px 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  justify-self: center;
  text-align: center;
  width: 20%;
}
.login-wrap .login-popup-wrap .login-title {
  margin: 0;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  font-weight: normal;
}
.login-wrap .login-popup-wrap .login-form {
  font-size: 14px;
  letter-spacing: 0.88px;
  line-height: 17px;
  text-align: left;
  display: grid;
  grid-template-rows: 3fr 3fr 2fr;
}
.login-wrap .login-popup-wrap .login-form label {
  height: 33px;
}
.login-wrap .login-popup-wrap .login-form label :nth-child(1) {
  margin-bottom: 11px;
}
.login-wrap .login-popup-wrap .login-form input[type='text'],
.login-wrap .login-popup-wrap .login-form input[type='password'] {
  border: none;
  max-width: 390px;
  background-color: #ECECEC;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  font-size: 18px;
  letter-spacing: 0.16px;
  line-height: 24px;
}
.login-wrap .login-popup-wrap .login-form input[type='submit'] {
  color: white;
  height: 56px;
  width: 240px;
  border: none;
  background-color: #6E6E6E;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 19px;
  text-align: center;
}
.sidebar {
  display: grid;
  grid-template-rows: 150px 50px 50px 50px;
}
.main_content.dashboard {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  grid-gap: 20px;
  padding-right: 250px;
}
.main_content.dashboard .top_section {
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 10px;
}
.main_content.dashboard .bottom_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.main_content.dashboard .bottom_section div {
  text-align: center;
  background-color: #aaaaaa;
  border-radius: 10px;
  height: 300px;
  padding: 20px;
}
.head_section .head-title {
  border-left: 1px solid black;
  padding-left: 20px;
}
div.account .account-section {
  border-radius: 30px 0 0 0;
  background-color: #ECECEC;
  padding: 50px;
}
div.account .account-section .top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  background-color: #6E6E6E;
  border-radius: 6px;
}
div.account .account-section .top .left {
  padding: 50px;
}
div.account .account-section .top .left h2 {
  color: white;
  font-weight: normal;
  font-size: 46px;
  letter-spacing: 0.42px;
  line-height: 55px;
}
div.account .account-section .top .left p {
  color: white;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 0.16px;
  line-height: 24px;
}
div.account .account-section .top .right {
  text-align: center;
  padding: 50px;
}
div.account .account-section .top .right img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
div.account .account-section .bottom {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 20px;
}
div.account .account-section .bottom .left {
  background-color: white;
}
div.account .account-section .bottom .right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}
div.account .account-section .bottom .right .cta {
  text-align: center;
  background-color: #AAAAAA;
  border-radius: 6px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  color: white;
}
div.account .account-section .bottom .right .cta h4 {
  margin-top: 22px;
  margin-bottom: 14px;
  font-size: 24px;
  letter-spacing: 0.22px;
  line-height: 34px;
  font-weight: normal;
}
div.account .account-section .bottom .right .cta p {
  font-weight: lighter;
  margin-bottom: 40px;
}
div.account .account-section .bottom .right .cta a {
  text-decoration: none;
  color: #aaaaaa;
  background-color: white;
  padding: 20px;
  width: 80%;
}
html {
  background: white;
  font-family: 'neuzeit-grotesk';
}
.main-wrap {
  display: grid;
  grid-template-columns: 250px 1fr;
}
.logout {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}
