.main_content.dashboard {
  display: grid;
  grid-template-rows: 100px auto auto;
  grid-gap: 20px;
  padding-right: 250px;
  @media only screen and (max-width: 1280px) {
    padding-right: 0;
    max-width: 120vw;
  }
  .top_section{
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 10px;
  }
  .bottom_section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    @media only screen and (max-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 950px) {
      grid-template-columns: 1fr;
    }

    div{
      background-color:#aaaaaa;
      border-radius: 10px;
      height: 300px;
      padding: 20px;
      position: relative;
      a {
        text-decoration: none;
        text-transform: uppercase;
        background-color: #e6e6e6;
        padding: 20px;
        position: absolute;
        bottom: 20px;
        color: black;
        &:hover {
          color: white;
          background-color: #6e6e6e;
        }
      }
    }
  }
}
