.sidebar{
  max-height: 100vh;
  display: grid;
  grid-auto-rows: 150px 50px 50px 50px;

  @media only screen and (max-width: 510px) {
    :nth-child(1n+2){
      display: none;
    }
  }
  &.show {
    :nth-child(1n+2){
      display: block;
    }
  }
}

.burger-menu {
  position: absolute;
  display: none;
  top:20px;
  right:20px;
  font-size: xx-large;
  @media only screen and (max-width: 510px) {
    display: block;
  }
}
