<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    {{ form.media }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/editor.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
  </head>
<body>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block content %} {% endblock content %}
{% if request.user.is_authenticated %}
<div class="logout">
  <a href="/logout">Log Out</a>
</div>
{% endif %}
</body>
</html>
